Step1：导入工具 读取数据

In [2]:
import pandas as pd

In [3]:
cs_data=pd.read_excel("cs_rust.xlsx")

In [4]:
cs_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139 entries, 0 to 138
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   时间      139 non-null    object
 1   开盘价     139 non-null    float64
 2   收盘价     139 non-null    float64
 3   最高价     139 non-null    float64
 4   最低价     139 non-null    float64
 5   估算成交量   139 non-null    int64
dtypes: float64(4), int64(1), object(1)
memory usage: 6.6+ KB

In [5]:
cs_data.head(10)

                    时间     开盘价    收盘价     最高价     最低价  估算成交量
0  2022-06-30 00:11:18  340.00  327.0  343.44  325.00     16
1  2022-07-04 01:43:11  326.00  323.5  337.50  323.50     32
2  2022-07-11 01:42:16  324.50  326.0  335.00  318.99     40
3  2022-07-18 01:39:39  324.89  322.5  329.00  318.50     40
4  2022-07-25 01:37:55  328.44  325.0  332.75  320.00     39
5  2022-08-01 01:39:00  323.50  334.0  340.52  322.50     41
6  2022-08-08 01:49:46  335.00  341.5  345.30  327.00     51
7  2022-08-15 01:50:07  341.90  357.0  365.00  341.00     59
8  2022-08-22 02:11:02  355.75  364.0  369.00  353.50     47
9  2022-08-29 02:23:56  358.50  367.5  373.90  350.00     64

Step2:定义函数

In [23]:
def find_top_fractals(high_prices,low_prices):
    top_fractals=[]
    n=len(high_prices)
    for i in range(1,n-1):
        if high_prices[i] > high_prices[i - 1] and high_prices[i] > high_prices[i + 1]:
            if low_prices[i] > low_prices[i - 1] and low_prices[i] > low_prices[i + 1]:
                top_fractals.append(i)
        return top_fractals

In [28]:
def find_bottom_fractals(high_prices,low_prices):
    bottom_fractals=[]
    n=len(high_prices)
    for i in range(1,n-1):
        if high_prices[i] < high_prices[i - 1] and high_prices[i] < high_prices[i + 1]:
            if low_prices[i] < low_prices[i - 1] and low_prices[i] < low_prices[i + 1]:
                bottom_fractals.append(i)
        return bottom_fractals

Step3:传入数据

In [29]:
high_prices=cs_data["最高价"]

In [30]:
low_prices=cs_data["最低价"]

In [26]:
top_fractals=find_top_fractals(high_prices,low_prices)

In [31]:
bottom_fractals = find_bottom_fractals(high_prices,low_prices)

In [32]:
print("顶分型的索引:",top_fractals)

顶分型的索引: []

In [33]:
print("底分型的索引:",bottom_fractals)

底分型的索引: []